@use "sass:color";

$bkgrey : rgb(90, 90, 90);
$white : #ffffff;
$black : #000000;
$couleur : rgb(0, 27, 50);
$whitetransparent : color.adjust($couleur, $alpha: -0.5, $space: hsl) ;
// $couleur : rgb(0, 32, 50);
// $couleur : rgb(10, 50, 70);
$bkcontent : rgb(109, 115, 111);
$bkfolder : rgb(50, 50, 50);
$bktitle : rgb(70, 70, 70);
$navbar: color.scale($couleur, $lightness: 20%);
$activenavbar: color.scale($couleur, $lightness: 20%);
$card: color.scale($couleur, $lightness: 10%);

$tel : "(max-width: 400px)";

@mixin color($property, $value) {
        #{$property}: color.adjust($couleur, $lightness: $value);
}

@mixin transparent($property) {
        #{$property}: color.adjust($couleur, $alpha: -0.8, $space: hsl)
}

@mixin center {
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
}

.permanent-marker-regular {
        font-family: "Permanent Marker", cursive;
        font-weight: 400;
        font-style: normal;
}

.langar-regular {
        font-family: "Langar", system-ui;
        font-weight: 400;
        font-style: normal;
}

.spicy-rice-regular {
        font-family: "Spicy Rice", serif;
        font-weight: 400;
        font-style: normal;
}


@mixin btn-header {
        box-shadow: 0px 0px 10px 10px var(--box-shadow-color);
        @include color(background-color, 10%);
        @include color(--box-shadow-color, 30%);
        border-radius: 50px;
        padding: 0px 20px;

        &:hover,
        &:focus {
                box-shadow: none;
                color: grey;
        }
}

@mixin btn-link {
        box-shadow: 0px 0px 10px 10px var(--box-shadow-color);
        @include color(background-color, 10%);
        @include color(--box-shadow-color, 30%);
        border-radius: 50px;
        padding: 5px 20px;

        &:hover,
        &:focus {
                box-shadow: none;
                color: grey;
        }
}

@mixin btn-style {
        text-transform: uppercase;
        font-size: 35px;
        letter-spacing: 8px;
        border-radius: 50px;
        padding: 5px 12px 5px 20px;
        margin-top: 5px;
        margin-bottom: 20px;
        box-shadow: inset 0px 0px 10px 10px var(--box-shadow-color);
}